.sideNav {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    height: 100vh;
    position: fixed;
    /* left: 0; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: .5rem;
    font-size: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.OCtoggle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation {
    width: 90%;
    height: 100%;
}
.navigation-list {
    --_gap: 2rem;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.65);
}
.nav-list-item {
    padding: calc(var(--_gap) / 2);
    height: 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    /* overflow: hidden; */
}
.nav-list-item .item-link {
    display: flex;
    gap: 1rem;
    align-items: center;
    text-decoration: none;
    color: inherit;
}
.nav-list-item::after {
    content: '';
    height: 100%;
    position: absolute;
    background-color: white;
    width: 3px;
    right: 0;
    bottom: 0;

    transform: translateY(var(--_translate, 0));
    scale: 1 var(--_scaleY, 0);
    transition: 
        scale  300ms var(--_scale-delay, 0ms),
        transform 500ms var(--_translate-delay, 0ms)
    ;
}
.nav-list-item:hover,
.nav-list-item:focus-within {
    --_scaleY: 1;
    color: white;
}
.nav-list-item:hover + .nav-list-item {
    --_translate: -100%;
    --_scale-delay: 300ms;
    --_translate-delay: 200ms;
}
.nav-list-item:has( + :hover){
    --_translate: 100%;
    --_scale-delay: 300ms;
    --_translate-delay: 200ms;
}



.user-content {
    box-sizing: border-box;
    padding: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 2rem;
}
.user-content {
    display: flex;
}
.user-content .user-avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-inline: 1rem;
}
.user-content .user-data p {
    margin: 0;
}
.user-content .user-data p:nth-child(1) {
    border-bottom: 1px solid white;
}


.logout-btn {
    text-align: center;
    outline: none;

}


/* we need the sidenav to move out of the way
so we need to transform translate left or right 
depending on the position  */
.toggleSidebarleft {

}

.d-none {
    display: none !important;
}