.sideNav {
    background-color: red;
    color: white;
    height: 100vh;
    position: fixed;
    /* left: 0; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title {
    display: flex;
    justify-content: space-around;
    padding-block: .5rem;
    font-size: 2rem;
    border-bottom: 1px solid white;
}

.navigation {
    width: 90%;
}
.navigation-list {
    list-style: none;
}
.nav-list-item {
    height: 2rem;
}


.user-content {
    box-sizing: border-box;
    padding: 1rem;
}
.user-content {
    display: flex;
}
.user-content .user-avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-inline-end: 1rem;
}
.user-content .user-data p {
    margin: 0;
}
.user-content .user-data p:nth-child(1) {
    border-bottom: 1px solid white;
}


.logout-btn {
    text-align: center;
}


/* we need the sidenav to move outof the way
so we need to transform translate left or right 
depending on the position  */
.toggleSidebarleft {

}